@use '../../global.scss' as *;

.listCard {
  display: flex;
  box-shadow: $box-shadow;
  border-radius: $border-radius-default;
  padding: $padding-thicker;
  gap: $padding-default;
  justify-content: space-between;

  .listCardImg {
    width: 250px;
    height: 200px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $border-radius-default;
    }
  }

  .detailInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $padding-thin;
    width: 350px;

    .title {
      color: $black-color;
      @include h3-styles;
    }

    .location {
      display: flex;
      gap: $padding-thin;
      align-items: center;

      .locationIcon {
        width: 14px;

        img {
          width: 100%;
        }
      }
      p {
        @include p-styles;
      }
    }

    .desc {
      @include span-styles;
      font-size: $font-size-micro;
      color: $gray-color;
      font-weight: $font-weight-regular;
    }

    .genderRatio {
      display: flex;
      gap: $padding-default;

      .maleRatio {
        display: flex;
        align-items: center;
        gap: $padding-thin;

        .maleIcon {
          border-radius: $border-radius-thin;
          width: 34px;
          height: 34px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
          }
        }

        span {
          @include span-styles;
          font-weight: $font-weight-regular;
          font-size: $font-size-small;
        }
      }

      .femaleRatio {
        display: flex;
        align-items: center;
        gap: $padding-thin;

        .femaleIcon {
          border-radius: $border-radius-thin;
          width: 34px;
          height: 34px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        span {
          @include span-styles;
          font-weight: $font-weight-regular;
          font-size: $font-size-small;
        }
      }
    }

    .conditionCon {
      display: flex;
      gap: $padding-default;

      span {
        @include span-styles;
        border-radius: $border-radius-default;
        padding: $padding-thin;
        background-color: $gray-color;
        color: $white-color;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
      }

      .density {
        &.density1 {
          background-color: $quiet-color;
        }
        &.density2 {
          background-color: $normal-color;
        }
        &.density3 {
          background-color: $crowded-color;
        }
        &.density4 {
          background-color: $very-crowded-color;
        }
      }

      .age {
        &.age10 {
          background-color: $teenagers-color;
        }
        &.age20 {
          background-color: $twenties-color;
        }
        &.age30 {
          background-color: $thirties-color;
        }
        &.age40 {
          background-color: $forties-color;
        }
        &.age50 {
          background-color: $fifties-color;
        }
        &.age60 {
          background-color: $sixties-color;
        }
      }
    }
  }
}
