@use './global.scss' as *;

.app {
  display: flex;
  flex-direction: column;
  gap: $padding-default;

  .contentsCon {
    display: flex;

    .listCon {
      width: 40%;

      .cardLists {
        display: flex;
        flex-direction: column;
        gap: $padding-default;
        height: 100vh;
        overflow: scroll;

        .ageGroup {
          @include p-styles;
          padding: $padding-thin $padding-thicker;
          font-weight: $font-weight-regular;

          strong {
            border-radius: $border-radius-thin;
          }

          .age10 {
            background-color: $teenagers-color;
          }
          .age20 {
            background-color: $twenties-color;
          }
          .age30 {
            background-color: $thirties-color;
          }
          .age40 {
            background-color: $forties-color;
          }
          .age50 {
            background-color: $fifties-color;
          }
          .age60 {
            background-color: $sixties-color;
          }
        }
      }
    }

    .kakaoMapCon {
      width: 60%;
    }
  }

  .loginCon {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.2);
    z-index: 990;
  }
}
